<h2>
About
</h2>
	<div id="div_video">
		<video id="video" controls preload>
	    	<source src ="images/videoExplicacion.mp4" type="video/mp4">
	    	<source src="images/videoExplicacion.webm" type="video/webm">
		</video>
	</div>
<p id="desarrolladores">
Desing by Alfonso Cambero Lorenzo & Miguel Fernández Vicente
</p>