<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <link rel='stylesheet' 
          media='only screen and (min-width: 530px) and (min-device-width: 530px)'
          href='/stylesheets/wide.css' />
    <link rel='stylesheet' 
          media='only screen and (max-width: 530px)' 
          href='/stylesheets/smartphone.css' />
   <title>Blog SWCM</title>
</head>

<body>
  <header>
    <h1> Blog SWCM</h1>
    <nav>
      <a class="botonesNav" href="/">Home</a>
      <a class="botonesNav" href="/Posts">Posts</a>
      <div id="visitas">Visit number <%= aaa %> </div>
    </nav>
  </header>
       
  <section>
   <hr />
   <%- body %>
   <hr />
  </section>

  <footer>
    <p> 
      Universidad Politécnica de Madrid. Curso 2012-2013. 
      <a id="about" href="/about">About</a>
    </p>
  </footer>
</body>
</html>
