body {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px #000;
  color: #FFF;
}
html{
  background-image: url("/images/bg.jpg");
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 20px;
}
.botonesNav {
  color: #FFF;
  background-color:#9ACD32;
  padding: 2px;
  text-decoration: none;
  box-shadow: rgb(0, 0, 0) 2px 1px 0px; 
  margin: 3px;
}
.botonesNav:hover{
  box-shadow: rgba(255, 255, 255, 0) 2px 1px 0px; 
  margin-top: 1px;
  margin-left: 2px;
}
img{
  box-shadow: 5px 5px 5px #000;
}
h1{
  text-shadow: rgb(51, 51, 51) 3px 3px 0px; 
  font-size: 50px;
}
article {
  padding: 7px;
  margin: 20px;
  border-bottom: 2px solid #000;
  color: #000;
}
a{
  text-decoration: none;
  color: #9ACD32;
  text-shadow: rgb(0, 0, 0) 1px 0px 5px; 
}
a:hover{
  text-decoration: underline;
}
.titlelink{
  text-decoration: none;
  font-size: 20px;
  color: #000;
  text-shadow: rgb(51, 51, 51) 1px 1px 0px; 
}
.titlelink:hover{
  text-decoration: underline;
}
#div_video{
	width: 98%;
	text-align: center;
}

#desarrolladores {
	text-align: center;
}

#visitas {
	text-align: right;
}
#contenedorPosts{
  background-color: rgba(255, 255, 255, 0.5);
  border: ridge;
  border-color: #CCC;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-bottom: 15px;
}
#busqueda{
  display: block;
  width: 50%;
  float: left;
  margin-bottom: 3px;
  text-align: right;
}
#newPost{
  display: block;
  width: 50%;
  float: left;
  margin-bottom: 3px;
}
