body{
	padding: 20px;
}

#video{
	width: 35%;
	box-shadow: 5px 5px 5px #000;
}

footer{
	text-align: left;
	width: 100%;
}

#about{
	float: right;
}
.imagenCentrada{
  text-align: center;
  padding: 10px;
  width: 100%;
}